@charset 'UTF-8';
*{
    margin: 0px;
    padding: 0px;
}
img{
    width:100vw;
}
a{
    background-color: red;
    padding: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}