@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}


html,body{
    height:100vh;
    width: 100vw;
    background-color: black;
  
}

body{
    background: url('../imagens/backgroundimage.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#steamdeck{
    background: url('../imagens/steamdeckimage.png') no-repeat;
    height: 712px;
    width: 1009px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#jogos img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px black;
}
section#jogos img:hover{
    border: 2px solid white;
    transform: scale3d(1.5,1.5,1.5);
}

iframe#tela{
    position: relative;
    top: 351px;
  left: 261px;
  height: 344px;
  width: 557px;
  border-radius: 5px;
}

